{% autoescape off %}
Password Reset for {{ site_name }}

Hello,

You're receiving this email because you requested a password reset for your account at {{ site_name }}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

This link is valid for 30 minutes from the time it was sent.

Your username is: {{ user.username }}

If you didn't request this password reset, please ignore this email.

Thanks,
{{ site_name }} Team
